@model Bourse.Models.AchatModel
@{
    ViewBag.Title = "Achat";
}
@{
    if (!(bool)Session["UserValid"])
    {
        <h2>Vous devez être <a href="~/Home/Index">Conneté</a> pour acheter des actions de @ViewData["id"]</h2>
    }
    else
    {
        using (Html.BeginForm("Achat",
                "Home",
                FormMethod.Post,
                new { enctype = "multipart/form-data" }))
        {
            <h2>Achat</h2>
            <p style="color:red">@ViewData["Notif"]</p>
            <p style="font-size:20px">@Session["SymbolId"] <text style="font-weight:bolder">@Session["Prix"]</text>$ X @Html.TextBox("QteAction", "1", new { @type = "number", @min = "1", @max = "1000000" }) </p>
            <br />
            <button type="submit">Soumettre...</button>
        }
    }
}



