@model Bourse.Models.UsersModel
@{
    ViewBag.Title = "Accueil";
}
@{
    <div class="jumbotron">
        <h1>BourseSim</h1>
        <p class="lead">BourseSim est une application web qui nous permet d'apprendre, en tout sécurité financière, les rudiment de la bourse.</p>
        <p><a href="~/home/Marche" class="btn btn-primary btn-large">Marché &raquo;</a></p>
    </div>

    if (!(bool)Session["UserValid"])
    {
        <p>@TempData["Notice"]</p>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="page-header">
                    <h2>Authentification</h2>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.Label("Nom d'usager") <br />
                        @Html.TextBox("UserName", "", new { Class = "form-control" }) <br />

                        @Html.Label("Mot de passe")<br />
                        @Html.Password("Password", "", new { Class = "form-control" })<br />

                        <br />
                        <button class="btn btn-primary" type="submit">Connexion...</button>
                    }
                </div>
            </div>
        </div>
    </div>
    }
}